<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="nav">
      <nav class="nav">
        <a href="">
          <p>Biblioteca de Filmes</p>
        </a>
        <div class="menu-filmes">
          <a href="">
            <p class="lFilmes">Lista de Filmes</p>
          </a>
          <a href="">
            <p class="cFilmes">Cadastrar Filmes</p>
          </a>
        </div>
        </nav>
      </div>
  </header>
  <main>
    <div class="tabela">
      <h1>Cadastro de Filme</h1>
      <div class="formulario">
        <label for="titulo">Título</label>
      <input type="text">
      <label for="premios">Premios</label>
      <input type="text">
      <label for="duracao">Duração</label>
      <input type="text">
      <label for="genero">Gênero</label>
      <select name="genero" id="genero">
        <option value="acao">Ação</option>
        <option value="terror">Terror</option>
      </select>
      <button >Cadastrar</button>
      </div>
    </div>
  </main>

</body>
</html>
